.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  margin-top: 7vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.login-text {
  width: 100%;
  color: white;
  border-bottom: 2px solid white;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

label {
  color: white;
  width: 100%;
  text-align: center;
}

.login-box {
  border: 1px solid lightgrey;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  outline: none;
}

.login-btn {
  width: 75%;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 172, 251);
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover {
  transform: scale(1.03);
  letter-spacing: 4px;
  background-color: #7fffd4;
  color: #1e90ff;
}

.show {
  display: block;
  transition: 400ms;
}

.show.active {
  transform: translateY(100px) scale(0);
  opacity: 0;
}
